/* ================FRESH MEAT ================= */
h2.title{
    margin-top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    color: #2C2929;
}

.img-block {
    margin: 67px 61px 0 61px;
    display: flex;
    flex-wrap: wrap;
    gap: 90px 80px;
}
.img-block .type , .img-block .price{
    color: #737373;
} 

/* ===================FRESH-MEET-1============== */
.product-01 {
    margin-top: 90px;
}

.product-01 .row{
    max-width: 70%;
    display: flex;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
   
}

.product-01 .info{
    position: relative;
    max-width: 60%;
    margin-left: auto;
}



.product-01 .type{
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 1.2;
    color: #504747;
}

.product-01 .price{
    margin-top: 12px;
    font-weight: 600;
    font-size: 2rem;
    color: #6C6C6C;
}
hr{margin-top: 20px;
}

.product-01 .desc{
    margin-top: 20px;
}

.product-01 .desc strong{
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2;
    color: #020202;
}
.product-01 .strong1{
    display: flex;
    justify-content: center;
}

.product-01 .desciption p, .quantity{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2;
    color: #6C6C6C;
    margin-top: 10px;    
}
.buy{
    display: block;
    margin-top: 20px;
}
.buy button, .buy input{
    background: #FFFFFF;
    border: 1px solid #DFDFDF;  
    height: 30px;
}
input {
    text-align: center;
    width: 100px;
} 
.quantity{
    color: #000000;
    font-size: 2.5rem;
    font-weight: 500;
}
.product-01 .btn{
    border: 1px solid #DFDFDF;
    background-color: #fff;
    border-radius: 30px;
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    width: 150px;
    color: #6C6C6C;
    margin: 15px 0;
    cursor: pointer;
    margin: 10px 84px 0 84px;

}
.product-01 .btn:hover{
    background-color:#DFDFDF;
}

.footer{
    margin-top: 200px;
}