*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Girassol', cursive;
}
html,
body{
    scroll-behavior: smooth;
}

  

/* ===========COMMON============ */
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: underline;
    opacity: 0.7;
}
a.GreenMart:hover{
    text-decoration: none;
    opacity: 0.6;

}

/* ===========HEADER============== */
header{
    position: sticky;
    top: 0;
    z-index: 10;
}

  
header .logo{     

    font-weight: 400;
    font-size: 4.8rem;
    line-height: 1.19;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(#6FC5AE,#84CEBA5F,#91D4C200);
}
header .navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;

    /* ko có thẻ cha đc định vị nên định vị theo thẻ body->mất bố cục luồng->ảnh ở dưới */
    position: absolute;
    border: 1px solid #DFDFDF;
    background-color: transparent;
    
}
.navbar, .navbar a  {
    padding: 7px 0;
}
header .info{
    display: flex;
    gap: 15px;
    font-weight: 400;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
} 
.sub-header .products{
    display: flex;
    gap: 15px;
    font-weight: 400;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
} 
.sub-header .action{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.action .icon{
    width: 40px;
}
.background img{
    width: 100%;
   height: calc(100vh - 58px);
   object-fit: cover;
}
 

/*--------------- DOT chuyển trang header --------------- */
.dot{
    display: flex;
    gap: 7px;
    position: absolute;
    right: 20px;
    bottom: 7px;
}

.next{
    width: 20px;height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color:transparent;
}


/* ==============TODAY's DEALS==================== */
.featured{
    margin-top: 99px;
    padding-top: 100px;
    /* background-color: red; */
}

.featured .title{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    color: #6C6C6C;
}
.featured .products{
    display: flex;
    justify-content: center;    
    gap: 15px;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.02em;
    margin-top: 20px;
}
.featured .img-block{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin:40px auto 0;
}
.img-block .type , .img-block .price{
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.19;
    text-align: center;
    color: #000000;
}
.img-block .type{
    margin-top: 20px;
}
.featured .btn{
    max-width: 352px;
    font-weight: 400;
    font-size: 3.2rem;
    text-align: center;
    color: #000000;
    margin: 40px auto 0 ;
    background: #BBCDCD;
    border-radius: 20px;
    line-height: 82px;


}
.btn:hover{
    opacity: 0.8;
}
.btn a{
    /* line-height: 82px; */
    padding: 0 53px;
    text-decoration: none;
    cursor: pointer;
}


/* ===============BEST SELLER==================== */
.best-seller {
    margin-top: 150px;
    /* background-color: red; */

}
.best-seller .row{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.best-seller .info{
    width: 50%;
    position: relative;
    /* background-color: red; */

}

.best-seller .title{
    font-weight: 400;
    font-size: 3rem;
    line-height: 36px;
    text-align: center;
    color: #504747;
}

.best-seller .type{
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 1.2;
    color: #504747;
}

.best-seller .price{
    margin-top: 12px;
    font-weight: 600;
    font-size: 2rem;
    color: #6C6C6C;
}
hr{margin-top: 30px;
}

.best-seller .desc{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}
.best-seller .desc strong{
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    color: #020202;
}
.best-seller .desciption p{
    width: 80%;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2;
    color: #6C6C6C;
}


.buy button, .buy input{
    background: #FFFFFF;
    border: 1px solid #DFDFDF;  
    height: 30px;
}
input {
    text-align: center;
    width: 100px;
} 
.quantity{
    font-family: 'Poppins';
    font-weight: 500;
    display: inline-block;
    color: #000000;
    font-size: 2.5rem;
    margin: 0 20px 0 40px;
    
}
.best-seller .btn{
    border: 1px solid #DFDFDF;
    background-color: #fff;
    border-radius: 30px;
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    width: 150px;
    color: #6C6C6C;
    margin: 10px 84px 0 84px;
}
.best-seller .btn:hover{
    background-color:#DFDFDF;
}

/* =============== FEEDBACK ==================== */
.feedback .text{
    margin-top: 221px;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: #504747;
}
.sub-feedback{
    display: flex;
    justify-content: space-around;
}
.feedback .img-block img{
    width: 300px;
    height: 300px;
}
.sub-feedback .img-block{
    margin-top: 50px;
    
}

.sub-feedback .arrow-right{
    display: flex;justify-content: center;align-items: center;
    width: 50px;height: 50px;
    border-radius: 50%;
    border: 1px solid #DFDFDF;
    margin-top: 185px;
    /* margin-bottom: auto; */
}
.feedback .arrow-right:hover{
    background-color: #DFDFDF;
}

.feedback .desc{
    width: 300px;
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.3;
    text-align: center;
    color: #6C6C6C;
}

/* =============== FOOTER ==================== */
.footer .back{
    margin-top: 84px;
    padding: 8px 0;
    display: block;
    text-align: center;
    background: #ACE7D5;
    font-weight: 400;
    font-size: 3rem;
    color: #000000;
}
.footer .back:hover{
    text-decoration: none;
    background: linear-gradient(180deg, #91D4C2 99.99%, rgba(145, 212, 194, 0) 100%);
}
.footer .column{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #91D4C2 99.99%, rgba(145, 212, 194, 0) 100%);
    gap: 120px;
    padding : 50px;

}
.footer .title{
    font-weight: 400;
    font-size: 2rem;
    color: #000000;

}
.footer .desc, .footer .desc li {
    max-width: 250px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 31px;
    color: #6C6C6C;
    margin-top: 20px;   
}
.footer .method + .method,
.footer .social + .social
{
    margin-top: 20px;
    margin-left: 17px;
}

.hero .background{
    display: flex;
    overflow: hidden;
}

.hero .background img{
    width: 100%;
    flex-shrink: 0;
}

/* SLIDESHOW */
.active{
    background-color: #fff;
}

.background img {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
} 

/* SEARCH BAR */
.sub-header{
    position: relative;
}

.input{
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 31px;
    color: #6C6C6C;
    width: 20%;
    position: absolute;
    top: 60px; right: 170px;
    background-color: #D9D9D9;

}
.form{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.input-text{
    text-align: left;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border: none;
    z-index: 10;

}
.input-text:focus{
    outline-color: #ACE7D5;
    outline-width: 4px;
}


.hidden{
    display: none;
}
.close{
    position: absolute;
    top: 75px;
    right: 180px;
    z-index: 11;
    font-size: 1.9rem ;
    color: #6C6C6C;
}
.close:hover{
    cursor: pointer;
    opacity: 0.6;
}

/* thông tin khi nhấn vào hình icon tài khoản*/
.action{
    position: relative;
}

.action .profile{
    background-color: #fff;
    width: 250px;
    /* height: 162px; */
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    position: absolute;
    top: 55px;
    left: -35px;
    padding: 10px;
    
    
}
.action .profile .name{
    font-family: 'Girassol';
    font-weight: 400;
    font-size: 2.6rem;
    color: #858585;
    text-align: center;
}
.action .name_click:hover{
    cursor: pointer;
    opacity: 0.5;
}
.action .hi:hover{
    text-decoration: none;
    background-color: #b4edde;
    border-radius: 10px;
}

/* ===================== ký hiệu giỏ hàng khi có hàng ======================== */
.sign{
    position: absolute;
    background-color: rgb(224, 11, 11);
    width: 10px;
    height: 10px;
    border-radius: 999px;
    top: 1px;left: 71px;
}




