*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Girassol', cursive;
}

/* ===========COMMON============ */




/* ===========LOGO============== */
.header{
    position: relative 
}
header{
    height: 100vh;
}

.slide img{
    width: 100%;
   height: calc(100vh - 58px);
   object-fit: cover;
}


header .logo{       
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 1.19;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #D1EDE1;
}

header .navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 5px;
    
}
header .info{
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
} 
.header .products{
    display: flex;
    gap: 15px;
    font-weight: 400;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
} 
.header .action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.navbar li, .navbar .info div {
    padding: 14px 0;
} 
.action .icon{
    width: 50px;
}

.dot{
    display: flex;
    gap: 7px;
    position: absolute;
    right: 20px;
    bottom: 7px;
}

.dot .next{
    width: 15px;height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color:transparent;
}
.dot .active{
    background-color: #fff;
}

